@import "./common.scss";
body {
    height: 100%;
    max-width: 45rem;
    margin: 0 auto;
    text-transform: math-auto;
}
main {
    height: 100%;
    margin-top: -2%;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.category {
  margin-top: 25px;
  margin-bottom: 10px;
}

.intro {
  list-style: none;
  display: inline-flex;
  place-items: flex-start;
}


.posts {
  list-style: none;
  .post {
    margin-top: 16px;
    line-height: 14px;
    &-date {

      color: #585858;
    }
  }
}

.name {
  color: #253445;
  font-size: large;
  margin-bottom: 5px;
}

p {
  margin: 8px 0;
}
